<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Matching Game</title>
    <link rel="stylesheet" href="/stylesheets/ronaldo.css">
</head>
<body>
    <div class="main">
        <div class="show-head">
            <img id="rotate" src="/images/HeadWhite-removebg-preview.png" width="500px" alt="Head" srcset="">
        </div>
        <div class="show-body">
            <img src="/images/BodyWhite.png" width="500px" alt="Body">
        </div>
    </div>
    <script src="/javascripts/ronaldo.js"></script>
</body>
</html>